:root{
    --bleu-foncé : #103d52 ;
    --turquoise : #037172 ;
    --bordeau : #7f4141 ;
    --bordeau-clair : #b06d6d;
    --rose : #e9a494;
    --rose-bg : #f5e9e7;
}

a {
    text-decoration: none;
}

a:visited{
    color: var(--turquoise);
}

a:hover,:focus{
    opacity: 0.7;
    color: var(--bleu-foncé);
}


*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    
    background-color: var(--rose-bg);
    
}


header{
    height: 80vh;
}

.center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }


/* navigation */

.topbar{
    padding: 2.5em 2.5em 0.5em 2.5em;
    cursor: default;
    height: 100vh;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 3rem;
    min-width: 50px;
    z-index: 10000;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 16, 61, 82, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba(99, 49, 49, 0.18);
}


.main-nav{
    width:10%;
    max-width: 600px;
}

.main-nav a {
    color: rgba(255, 255, 255, 0.35);
    display: block;
    font-weight: bold;
    line-height: 1.75;
    padding: 1.35em 0;
    text-decoration: none;
    list-style: none;
    writing-mode: vertical-rl;
}



.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    /* flex */
    display: flex;
    justify-content: space-between;
    display: block;
}

.main-menu a{
    color: inherit;
    text-decoration: none;
}

.social{
    text-align: right;
}


/* couverture du site */

#cover{
    background-image: url(../Accueil/fond_portfolio-v2-05.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
	padding: 0;
	height: 70rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
   
}


.glass{
 	width: 45%;
 	line-height: 180%;
 	padding: 25px;
    margin-bottom: 25rem;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 16, 61, 82, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    min-width: 390px;
    font-family: "open-sans", sans-serif;
    font-size: 1.2rem;
}

#nom_prenom{
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    font
}

.icon img{
    height: 32px;
    width: 32px;;
}

.etiquette_temporelle{
    top: 0;
    left: 0;
    background-color: var(--bleu-foncé);
    color: #fff;
    padding: 10px;
    border-top-left-radius: 40px;
    margin: 0;
    padding: 30px 10px;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: absolute;
}


/* gallerie de projet */

.gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
    padding: 0;
}

.gallery  figure  img, .gallery  figure  video {
    width: 100%;
    cursor: pointer;
    height: auto;
}

.gallery  figure  figcaption {
margin-left: auto;
margin-right: auto;
text-align: center;
}

.gallery_part{
    position: relative;
}

/* footer */

footer{
    background-color: var(--bleu-foncé);
    margin-bottom: 0;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    padding-bottom: 5px;
  }

  .arrow-up{
      background-color: var(--turquoise);
      color: #fff;
      left: 0;
      top: 0;
      position: absolute;
      height: 98.8px;
  }

  .arrow-up img{
      color: #fff;
      height: 32px;
      width: 32px;
      padding: auto;
  }
  
  .info-footer{
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
  }

 
  
  .copyright{
    color: #fff;
    font-weight: 300;
    margin-bottom: 0;
  }

