:root {
	--bleu-fonce: #103d52;
	--turquoise: #037172;
	--bordeau: #7f4141;
	--bordeau-clair: #b06d6d;
	--rose: #e9a494;
	--rose-bg: #f5e9e7;
  }
 

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
  }


 /* navigation */

.topbar {
	padding: 2.5em 2.5em 0.5em 2.5em;
	cursor: default;
	height: 100vh;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	text-align: right;
	top: 0;
	width: 3rem;
	min-width: 50px;
	z-index: 10000;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(16, 61, 82, 0.37);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	border: 1px solid rgba(99, 49, 49, 0.18);
  }
  
  .main-nav {
	width: 10%;
	max-width: 160px;
  }
  
  .main-nav a {
	color: rgba(255, 255, 255, 0.35);
	display: block;
	font-weight: bold;
	line-height: 1.75;
	padding: 1.35em 0;
	text-decoration: none;
	list-style: none;
	writing-mode: vertical-rl;
  }
  
  .main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	/* flex */
	display: flex;
	justify-content: space-between;
	display: block;
	font-size: 1.05rem;
  }
  
  .main-menu a {
	color: inherit;
	text-decoration: none;
  }
  
  .main-menu a:hover {
	background: -webkit-linear-gradient(var(--bordeau), var(--rose));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  div.topbar > a > img {
	height: 30px;
	width: 30px;
	position: absolute;
	bottom: 1.5rem;
  }
  
  div.topbar > a {
	height: 30px;
	width: 30px;
  }

  #Hervault_header{
	display: block;
    position: absolute;
    left: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 3px black, 0 0 1em rgb(222,222,222), 0 0 0.3em grey;
    font-family: basic-sans, sans-serif;
    font-size: 200%;
 }

.menu_header
 {
 	display: inline;
 	list-style-type: none;
 	margin: 20px;
 	font-family: basic-sans, sans-serif;
 	font-size: 1.4em;
 }

footer{
	border-top: solid 1px rgba(254, 225, 211);
	background: rgba(208, 119, 90);
	margin: 0;
	}

 .footer{
	padding: 1rem;
	display: flex;
	list-style: none;
	margin: 0;
}

.menu_footer > a {
	text-decoration: none; 
	color: white;
	margin-right: 40px;
	margin-left: 40px;
}
 
a{
	text-decoration: none;
	color: #E3A074;
}

body{
	margin: 0;
	height: 100%;
	background: rgb(255, 246, 235);
}


main{
	width: 60%;
	min-width: 600px;
	border: solid 2px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: rgba(240, 214, 197);
	border-radius: 2px;
}  

h1{
	text-align: center;
	font-family: basic-sans, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: right;
	margin-left: 40%;
} 


h2{
	text-align: center;
	font-family: basic-sans, sans-serif;
	font-size: 150%;
}

a:hover{
	opacity: 0.7;
}

p{
	font-size: 120%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.p_entete{
	text-align: right;
	margin-right: 35%;
	
}

.entete{
	background: url(../mention_legales_content/cover_entete.jpg);
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	margin: 3rem 0;
	padding: 2rem 0;
}